textarea {
    min-height: 400px;
}

.listOfemails
{
    border: 1px solid rgb(172, 164, 164);
    border-radius: 16px;
}
.listOfemails:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
