body
{
    background-color: #202124;
    color: #eeeeee;
}
textarea {
    min-height: 400px;
}

.listOfemails
{
    border: 1px solid #eeeeee;
    border-radius: 16px;
}
.listOfemails:hover
{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#login, #register
{
    text-align: center;
}

hr
{
    border-color: grey;
}

button, input
{
    margin: 10px;
}